<html>
    <head>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://cdn.auth0.com/js/auth0/9.5.1/auth0.min.js"></script>
    </head>
    <body>
        <div class= "section" id= "app">
        <form class= "form" v-on:submit.prevent>
        <div class= "field">
            <label class="label">Username</label>
            <input class="input" type="text" id="username" v-model="username" />
            <!--<div class="has-text-danger" v-if="usernameError == true"> There was an issue with your username -->
             <ul>
                 <li v-for ="error in usernameErrorMessage">   
                      {{error.msg}}
                    <span> 
                        <small>{{ new Date(error.date).toString() }}</small> 
                    </span>
                </li>
            </ul>
        </div>
        <div class="field">
            <label class="label">Password</label>
            <input class="input" type="password" id="password" v-model="password"/>
           <!---- <div class="has-text-danger" v-if="usernameError == true"> There was an issue with your password-->
                <ul>
                        <li v-for ="error in passwordErrorMessage">   
                             {{error.msg}}
                           <span> 
                               <small>{{ new Date(error.date).toString() }}</small> 
                           </span>
                       </li>
                   </ul>
        </div>

        <div class="field">
        <button v-on-click="enter" id="login" class="button is-primary" type="submit" @click="login" >Login</button>
        </div>

        </form>
        <div>
            Don't have an account?
            <a href="" >Register</a> 
        </div>
    </div>
    <script src="script.js"></script>
    </body>
</html>